huggingface-hub
sentence-transformers

langchain
langchain-huggingface
langchain-community
sentence-transformers
faiss-cpu
# faiss-gpu
chromadb

tiktoken
unstructured
unstructured[local-pdf]
unstructured[local-inference]

llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
torch
nltk

beautifulsoup4
pydantic-settings

# pip install "fastapi[standard]" llama-index-vector-stores-chroma
